<header class="navbar navbar-expand-lg navbar-dark py-5 main-nav">
    <div class="container d-flex justify-content-start">
        
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto main-menu">
                <li class="nav-item px-3">
                    <a class="nav-link active" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ABOUT
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="/about/about-sca.html">About SCA</a></li>
                        <li><a class="dropdown-item" href="#">Office Bearers</a></li>
                        <li><a class="dropdown-item" href="#">Ex-Office Bearers</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        COMMITTEES
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="/about/about-sca.html">Tournament Committees</a></li>
                        <li><a class="dropdown-item" href="#">Ground Committee</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        LEAGUES &amp; TOURNAMENTS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="about/about-sca.html">Super Division</a></li>
                        <li><a class="dropdown-item" href="#">1st Division</a></li>
                        <li><a class="dropdown-item" href="#">2nd Division</a></li>
                        <li><a class="dropdown-item" href="#">3rd Division</a></li>
                        <li><a class="dropdown-item" href="#">4th Division</a></li>
                    </ul>
                </li>
                <li class="nav-item px-3"><a class="nav-link" href="/events.html">EVENTS</a></li>
                <li class="nav-item px-3"><a class="nav-link" href="/news-notices.html">NEWS &amp; NOTICES</a></li>
                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        GALLERY
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="/gallery/photo-gallery.html">Photo Gallery</a></li>
                        <li><a class="dropdown-item" href="#">Video Gallery</a></li>
                    </ul>
                </li>
                <li class="nav-item px-3"><a class="nav-link" href="/contact-us.html">CONTACT US</a></li>
            </ul>
        </div>
    </div>
</header>